{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'adminpanel/vendors/sweetalert2/sweetalert2.min.css' %}">
{% endblock css %}

{% block content%}
{% include "includes/section.html" with page_title="Edit Banner Images of langing Page"  %}

<section class="section">
    <div class="row">
        <div class="col-12 mb-5">
            <div class="card">
                <form method="POST" class="card-body" id="myForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-4 mb-5">
                            <div class="form-group">
                                <h6>Banner Image 1</h6>
                                <p>Recommended Image Size : 1920 x 550</p>
                                <input type="file" class="form-control" accept="image/png, image/gif, image/jpeg, image/webp" name="banner_img_1">
                            </div>
                            {% if banner_images.0.banner_img %}
                                <img src="{{ banner_images.0.banner_img.url }}" alt="" srcset="" width="25%">
                            {% endif %}
                        </div>
                        <div class="col-4 mb-5">
                            <div class="form-group">
                                <h6>Banner Video</h6>
                                <p>Recommended Image Size : 1170 x 628</p>
                                <input type="file" class="form-control" accept="video/mp4, video/3gpp, video/mpeg, video/webm" name="banner_video">
                            </div>
                            {% if banner_images.1.banner_img %}
                                <video width="400" controls>
                                    <source src="{{ banner_images.1.banner_img.url}} ">
                                </video>
                            {% endif %}
                        </div>
                        <div class="col-4 mb-5">
                            <div class="form-group">
                                <h6>Banner Image 2</h6>
                                <p>Recommended Image Size : 1920 x 550</p>
                                <input type="file" class="form-control" accept="image/png, image/gif, image/jpeg, image/webp" name="banner_img_2">
                            </div>
                            {% if banner_images.2.banner_img %}
                                <img src="{{ banner_images.2.banner_img.url }}" alt="" srcset="" width="25%">
                            {% endif %}
                        </div>

                        <div class="col-12 d-flex justify-content-end mt-3">
                            <button type="submit" class="btn btn-primary me-1 mb-1" id="formSubmit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content%}

{% block script %}
<script src="{% static 'adminpanel/vendors/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'adminpanel/vendors/jquery/jquery.min.js' %}"></script>
<script src="{% static 'adminpanel/jquery_validation/jquery.validate.js' %}"></script>
<script>
    $('#formSubmit').on('click', function (e) {
            e.preventDefault()
            let id = $(this).data('id')
            Swal.fire({
                title: 'Update Content',
                text: 'Are You Sure ?',
                confirmButtonColor: 'rgb(225, 0, 127)',
                showCancelButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    $("#myForm").submit();
                }
            })
        })

    $("#myForm").validate({
        rules: {
            heading: {
                required: true,
                maxlength: 55
            },
            editor: {
                required: true,
            },
            posted_by: {
                required: true,
                maxlength: 55
            },
            category: {
                required: true,
            },
            subcategory: {
                required: true,
            }
        }
    });
</script>
{% endblock script %}