Django==3.2
django-allauth==0.50.0
djangorestframework==3.13.1
oauthlib==3.2.0
Pillow
psycopg2-binary
PyJWT
jsonobject
python-decouple==3.6
requests
requests-oauthlib
six
stripe==3.2.0
taxjar==2.0.0
twilio
gunicorn
uWSGI==2.0.17
django-twilio
django-storages==1.12.3
boto3
botocore
django-crontab==0.7.1
django-debug-toolbar