{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>MEGADOLLS</title>
	<!--responsive-meta-here-->
	<meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0,width=device-width, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<!--responsive-meta-end-->

  <link rel="stylesheet" href="{% static  'web_app/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static  'web_app/css/owl.carousel.min.css' %}" />
<link rel="stylesheet" href="{% static  'web_app/css/fontawesome-all.css' %}" />
<link rel="stylesheet" href="{% static  'web_app/css/fontawesome.css' %}" />
<link rel="stylesheet" href="{% static  'web_app/fonts/remixicon.css' %}" />
<link rel="stylesheet" href="{% static  'web_app/css/style.css' %}" />
<link rel="stylesheet" href="{% static  'web_app/css/responsive.css' %}" />

	{% comment %} <link href="{% static 'sloper/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'sloper/css/mdb.min.css' %}" rel="stylesheet"/> {% endcomment %}
  <link href="{% static 'sloper/css/owl.carousel.min.css' %}" rel="stylesheet"/>  
	<link href="{% static 'sloper/css/fontawesome-all.css' %}" rel="stylesheet"/>
	<link href="{% static 'sloper/css/fontawesome.css' %}" rel="stylesheet"/>
  <link href="{% static 'sloper/fonts/remixicon.css' %}" rel="stylesheet"/>
  <link href="{% static 'sloper/css/ninja-slider.css' %}" rel="stylesheet"/>
  <link href="{% static 'sloper/css/thumbnail-slider.css' %}" rel="stylesheet"/>
	<link href="{% static 'sloper/css/style.css' %}" rel="stylesheet"/>
  <link href="{% static 'sloper/css/style-tool.css' %}" rel="stylesheet"/>
  <link href="{% static 'sloper/css/responsive.css' %}" rel="stylesheet"/>
  <link href="{% static 'sloper/css/custom.css' %}" rel="stylesheet"/>

  <link rel="icon" href="{% static  'web_app/images/favicon.png' %}" type="image/x-icon">



  {% block top %}
  {% endblock top %}

  <script type="text/javascript" src="{% static 'sloper/js/demo/fabric.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'sloper/js/demo/fabric-brush.min.js' %}"></script>
</head>
<body class="background-gb-tool">
  <div class="wraper">
    <!-- Header in -->
      {% comment %} <header class="header_wrap tool-header">
          <div class="middle-header dark_skin">
              <div class="container">
                <div class="header-main-flex">
                    <div class="navbar-brand">
                      <a href=""> MEGADOLLS </a>  <!-- <img src="images/logo.svg" alt="logo"> --> 
                    </div>
                </div>
              </div>
          </div>
      </header> {% endcomment %}