{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'datetime-picker/jquery.datetimepicker.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/sweetalert2/sweetalert2.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/choices.js/choices.min.css' %}" />

{% endblock css %}

{% block content%}

{% url 'social_media_link' as view_links %}
{% include "includes/section.html" with page_title="Edit Link" btn_url=view_links btn_text="Back" %}

<section class="section">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST" class="" id="myForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <div class="position-relative">
                                        <input type="text" class="form-control" placeholder="Enter Heading for Blog" name="title" value="{{ links.title }}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>URL</label>
                                    <div class="position-relative">
                                        <input type="text" class="form-control" placeholder="Enter Heading for Blog" name="url" value="{{ links.url }}" required>
                                    </div>
                                </div>
                            </div>   
                           <div class="col-6">
                                <div class="form-group">
                                    <label>Icon</label>
                                    <input type="file" class="form-control" accept="image/png, image/gif, image/jpeg" name="image">
                                </div>
                                {% if links.image %}
                                <img src="{{ links.image.url }}" alt="" srcset="" width="50px" height="50px">
                                {% endif %}
                            </div>
                            <div class="col-6 form-group">
                                <label>Status</label>
                                <select class="form-select" name="is_active" id="js-publish">
                                    <option value="True" {% if links.is_active %} selected {% endif %}>Active</option>
                                    <option value="False" {% if links.is_active == False %} selected {% endif %}>Deactive</option>
                                </select>
                            </div>                           
                           <div class="col-12 d-flex justify-content-end mt-3">
                                <button type="submit" class="btn btn-primary me-1 mb-1" >Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}

{% block script %}
<script src="{% static 'adminpanel/jquery_validation/jquery.validate.js' %}"></script>

<script>
    $(document).ready(function () {
        $("#myForm").validate({
            rules: {
                title: {
                    required: true,
                    text: true,
                    maxlength: 55
                },
                url: {
                    required: true,
                    text: true,
           
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    })
</script>
{% endblock script %}