{% extends 'base.html' %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'data-table/dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/sweetalert2/sweetalert2.min.css' %}">
{% endblock css %}
{% block content %}

{% include "includes/section.html" with page_title="Social Media Links on Blog" %}
<section class="section">
    <div class="row w-100" id="table-striped">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="table-responsive p-2">
                        <table class="table table table-striped text-center mb-0" id="myTable">
                            {% if links %}
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Icon</th>
                                    <th>Name</th>
                                    <th>URL</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for link in links %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td class="text-bold-500 w-25 profile_img_tbl">
                                        {% if link.image %}
                                        <figure> <img src="{{ link.image.url }}" alt=""> </figure>
                                    </td>
                                    {% else %}
                                    <figure><img src="{% static 'images/faces/1.jpg' %}" alt=""></figure>
                                    {% endif %}
                                    <td class="text-bold-500">{{ link.title }}</td>
                                    <td>{{ link.url|safe|truncatechars:40 }}</td>
                                    <td class="is-active">
                                        {% if link.is_active %}
                                        <span class="badge bg-success">Active</span>
                                        {%else%}
                                        <span class="badge bg-danger">Deactive</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'edit_social_media_link' link.id %}" class="mx-1">
                                            <span class="fa-fw select-all fas"></span>
                                            <a href="#" class="mx-1 btn-delete" data-id="{{ link.id }}">
                                                <span class="fa-fw select-all fas"></span>
                                            </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="4" class="text-center">
                                        <strong style="font-size: 1.5em;">No Records</strong>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="POST" action="{% url 'delete_social_media_link' %}" class="mx-1" style="display: inline;"
        id="delete_form">
        {% csrf_token %}
        <input type="hidden" name="delete_link" value="" id="delete_link">
    </form>
</section>
{% endblock content %}
{% block script %}
<script src="{% static 'adminpanel/vendors/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.btn-delete').on('click', function (e) {
            e.preventDefault()
            let id = $(this).data('id')
            Swal.fire({
                title: 'Delete Link',
                text: 'Are You Sure ?',
                confirmButtonColor: 'rgb(225, 0, 127)',
                showCancelButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#delete_link').val(id)
                    $('#delete_form').submit()
                }
            })
        })
    })
</script>
{% endblock script %}

