{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'adminpanel/data-table/dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'adminpanel/vendors/sweetalert2/sweetalert2.min.css' %}">
{% endblock css %}

{% block content %}

{% url 'add_color' as add_color %}
{% include "includes/section.html" with page_title="Play Categories" btn_url=add_color btn_text="Add Play Category" %}

<section class="section">
    <div class="row w-100" id="table-striped">
        <div class="col-12">
            <div class="card py-2 px-2">
                <div class="card-content">
                    <div class="table-responsive">
                        {% if colors %}
                            <table class="table table table-striped text-center" id="myTable">
                                <thead>
                                    <tr>
                                        <th>Sr no.</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for color in colors %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ color.name }}</td>
                                        <td>{{ color.description|truncatechars:40 }}</td>
                                        <td class="is-active">
                                            {% if color.is_active %}
                                            <span class="badge bg-success">Active</span>
                                            {% else %}
                                            <span class="badge bg-danger">Deactive</span>
                                            {% endif %}
                                        </td>
                                        {% if request.user.user_type == "SUPERADMIN" %}
                                            <td>
                                            
                                                <a href="{% url 'edit_color' color.id %}" class="mx-1">
                                                    <span class="fa-fw select-all fas"></span>
                                                </a>
                                            
                                                <a href="{% url 'view_color_detail' color.id %}" class="mx-1">
                                                    <span class="fa-fw select-all fas"></span>
                                                </a>
                                            
                                                <a href="#" class="mx-1 btn-delete" data-id="{{ color.id }}">
                                                    <span class="fa-fw select-all fas"></span>
                                                </a>
                                                
                                            </td>
                                        {% endif %}
                                        
                                        {% if request.user.user_type == "SUBADMIN" %}
                                            <td>
                                                {% for i in m_check %}
                                                    {% if i.edit == True %}
                                                        <a href="{% url 'edit_color' color.id %}" class="mx-1">
                                                            <span class="fa-fw select-all fas"></span>
                                                        </a>
                                                    {% endif %}
                                                    {% if i.view == True %}
                                                        <a href="{% url 'view_color_detail' color.id %}" class="mx-1">
                                                            <span class="fa-fw select-all fas"></span>
                                                        </a>
                                                    {% endif %}
                                                    {% if i.delete == True %}
                                                        <a href="#" class="mx-1 btn-delete" data-id="{{ color.id }}">
                                                            <span class="fa-fw select-all fas"></span>
                                                        </a>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-center">
                                <strong style="font-size: 1.5em;">No Records</strong>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="POST" action="{% url 'delete_color' %}" class="mx-1" style="display: inline;" id="delete_form">
        {% csrf_token %}
        <input type="hidden" name="color" value="" id="color">
    </form>
</section>
{% endblock content %}

{% block script %}
<script src="{% static 'adminpanel/vendors/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'adminpanel/data-table/dataTables.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('.btn-delete').on('click', function (e) {
            e.preventDefault()
            let id = $(this).data('id')
            Swal.fire({
                title: 'Delete Color',
                text: 'Are You Sure ?',
                confirmButtonColor: 'rgb(225, 0, 127)',
                showCancelButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#color').val(id)
                    $('#delete_form').submit()
                }
            })


        })
    })
</script>
{% endblock script %}
