{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'adminpanel/data-table/dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'adminpanel/vendors/sweetalert2/sweetalert2.min.css' %}">
{% endblock css %}

{% block content %}


{% url 'add_dress_type' as add_dress_type %}
{% include "includes/section.html" with page_title="Create Categories" btn_url=add_dress_type btn_text="Add Create Category" %}


<section class="section">
    <div class="row w-100" id="table-striped">
        <div class="col-12">
            <div class="card py-2 px-2">
                <div class="card-content">
                    <div class="table-responsive">
                        {% if dress_types %}
                            <table class="table table table-striped text-center" id="myTable">
                                <thead>
                                    <tr>
                                        <th>Sr no.</th>
                                        <th>NAME</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for dress_type in dress_types %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td class="text-bold-500">{{ dress_type.name }}</td>
                                        <td>{{ dress_type.description }}</td>
                                        <td class="is-active">
                                            {% if dress_type.is_active %}
                                            <span class="badge bg-success">Active</span>
                                            {% else %}
                                            <span class="badge bg-danger">Deactive</span>
                                            {% endif %}
                                        </td>
                                        {% if request.user.user_type == "SUPERADMIN" %}
                                            <td>
                                                <a href="{% url 'edit_dress_type' dress_type.id %}" class="mx-1">
                                                    <span class="fa-fw select-all fas"></span>
                                                </a>
                                                <a href="{% url 'view_dress_type_detail' dress_type.id %}" class="mx-1">
                                                    <span class="fa-fw select-all fas"></span>
                                                </a>
                                                <a href="#" class="mx-1 btn-delete" data-id="{{ dress_type.id }}">
                                                    <span class="fa-fw select-all fas"></span>
                                                </a>
                                            </td>
                                        {% endif %}

                                        {% if request.user.user_type == "SUBADMIN" %}
                                            <td>
                                                {% for i in m_check %}
                                                    {% if i.edit == True %}         
                                                        <a href="{% url 'edit_dress_type' dress_type.id %}" class="mx-1">
                                                            <span class="fa-fw select-all fas"></span>
                                                        </a>
                                                    {% endif %}
                                                    {% if i.view == True and request.user.user_type == "SUBADMIN" %}
                                                        <a href="{% url 'view_dress_type_detail' dress_type.id %}" class="mx-1">
                                                            <span class="fa-fw select-all fas"></span>
                                                        </a>
                                                    {% endif %}
                                                    {% if i.delete == True and request.user.user_type == "SUBADMIN" %}
                                                        <a href="#" class="mx-1 btn-delete" data-id="{{ dress_type.id }}">
                                                            <span class="fa-fw select-all fas"></span>
                                                        </a>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-center">
                                <strong style="font-size: 1.5em;">No Records</strong>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="POST" action="{% url 'delete_dress_type' %}" class="mx-1" style="display: inline;" id="delete_form">
        {% csrf_token %}
        <input type="hidden" name="dress_type" value="" id="dress-type">
    </form>
</section>
{% endblock content %}

{% block script %}
<script src="{% static 'adminpanel/vendors/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'adminpanel/data-table/dataTables.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('.btn-delete').on('click', function (e) {
            e.preventDefault()
            let id = $(this).data('id')
            Swal.fire({
                title: 'Delete Dress Type',
                text: 'Are You Sure ?',
                confirmButtonColor: 'rgb(225, 0, 127)',
                showCancelButton: true,
                customClass: 'delete-user'
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#dress-type').val(id)
                    $('#delete_form').submit()
                }
            })
            
            
        })
    })
</script>
{% endblock script %}