{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'adminpanel/data-table/dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'adminpanel/vendors/sweetalert2/sweetalert2.min.css' %}">
{% endblock css %}

{% block content %}
{% url 'add_category' as add_category %}
{% include "includes/section.html" with page_title="Category Management" btn_url=add_category btn_text="Add Category" %}

<section class="section">
    <div class="row w-100" id="table-striped">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="table-responsive py-2 px-2">
                        {% if categories %}
                            <table class="table table table-striped text-center table-striped mb-0 text-center" id="myTable">
                                <thead>
                                    <tr>
                                        <th>Sr no.</th>
                                        <th>Category</th>
                                        <th>Status</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in categories %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ category.name }}</td>
                                        <td class="is-active">
                                            {% if category.is_active %}
                                            <span class="badge bg-success">Active</span>
                                            {%else%}
                                            <span class="badge bg-danger">Deactive</span>
                                            {% endif %}
                                        </td>
                                        {% if request.user.user_type == "SUPERADMIN" %}
                                            <td>
                                                <a href="{% url 'update_category' category.id %}" class="mx-1">
                                                    <span class="fa-fw select-all fas"></span>
                                                </a>
                                                <form method="POST" action="{% url 'delete_category' %}" class="mx-1"
                                                    style="display: inline;">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="category" value="{{ category.id }}">
                                                </form>
                                                {% comment %}<a href="#" class="delete-category">
                                                    <span class="fa-fw select-all fas"></span>
                                                </a>{% endcomment %}
                                            </td>
                                        {% endif %}

                                        {% if request.user.user_type == "SUBADMIN" %}
                                            <td>
                                                {% for i in m_check %}
                                                    {% if i.edit == True %}
                                                        <a href="{% url 'update_category' category.id %}" class="mx-1">
                                                            <span class="fa-fw select-all fas"></span>
                                                        </a>
                                                    {% endif %}

                                                    {% if i.delete == True and request.user.user_type == "SUBADMIN" %}
                                                        <form method="POST" action="{% url 'delete_category' %}" class="mx-1"
                                                            style="display: inline;">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="category" value="{{ category.id }}">
                                                        </form>
                                                        {% comment %}<a href="#" class="delete-category">
                                                            <span class="fa-fw select-all fas"></span>
                                                        </a>{% endcomment %}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-center">
                                <strong style="font-size: 1.5em;">No Records</strong>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block script %}
<script src="{% static 'adminpanel/vendors/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'adminpanel/data-table/dataTables.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.delete-category').on('click', function (e) {
            form = $(this).siblings("form")
            Swal.fire({
                title: 'Delete Category',
                text: 'Are You Sure ?',
                confirmButtonColor: '#e1007f',
                showCancelButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            })
        })
    })
</script>
{% endblock script %}