{% extends 'base.html' %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'adminpanel/data-table/dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'adminpanel/vendors/sweetalert2/sweetalert2.min.css' %}">
{% endblock css %}

{% block content %}


{% include "includes/section.html" with page_title="Users Who Have Commented" %}

<section class="section">
    <div class="row w-100" id="table-striped">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="table-responsive p-2">
                        {% if bloguser %}
                            <table class="table table table-striped text-center mb-0" id="myTable">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Profile Picture</th>
                                        <th>User Name</th>
                                        <th>Blog Name</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                            
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for blogdata in bloguser %}
                                
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
            
                                        <td class="text-bold-500 w-25 profile_img_tbl"> 
                                            {% if blogdata.user.profile_img %}
                                            <figure> <img src="{{ blogdata.user.profile_img.url }}" alt="" > </figure></td>
                                            {% else %}
                                            <figure><img src="{% static 'adminpanel/images/faces/1.jpg' %}" alt=""></figure>
                                            {% endif %}

                                        <td class="text-bold-500">{{ blogdata.user.name }}</td>
                                        <td>{{ blogdata.blog.heading }}</td>
                                        <td class="is-active">
                                            {% if blogdata.user.can_comment %}
                                            <span class="badge bg-success">Active</span>
                                            {% else %}
                                            <span class="badge bg-danger">Blocked</span>
                                            {% endif %}
                                        </td>
                                        {% if request.user.user_type == "SUPERADMIN" %}
                                            <td>
                                                <a href="{% url 'edit_blog_user' blogdata.user.id %}" class="mx-1">
                                                    <span class="fa-fw select-all fas"></span>
                                                </a>
                                                <a href="{% url 'view_blog_user' blogdata.user.id  %}" class="mx-1">
                                                    <span class="fa-fw select-all fas"></span>
                                                </a>
                                        
                                                <a href="#" class="mx-1 btn-delete" data-id="{{ blogdata.user_id }}">
                                                    <span class="fa-fw select-all fas"></span>
                                                </a>
                                            </td>
                                        {% endif %}

                                        {% if request.user.user_type == "SUBADMIN" %}
                                            <td>
                                                {% for i in m_check %}
                                                    {% if i.view == True %}
                                                    <a href="{% url 'edit_blog_user' blogdata.user.id %}" class="mx-1">
                                                        <span class="fa-fw select-all fas"></span>
                                                    </a>
                                                        <a href="{% url 'view_blog_user' blogdata.user.id  %}" class="mx-1">
                                                            <span class="fa-fw select-all fas"></span>
                                                        </a>
                                                    {% endif %}
                                                    {% if i.delete == True %}
                                                        <a href="#" class="mx-1 btn-delete" data-id="{{ blogdata.user_id }}">
                                                            <span class="fa-fw select-all fas"></span>
                                                        </a>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        {% endif %}
                                    
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-center">
                                <strong style="font-size: 1.5em;">No Records</strong>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="POST" action="{% url 'delete_blog_user' %}" class="mx-1" style="display: inline;" id="delete_form">
        {% csrf_token %}
        <input type="hidden" name="delete_blog_user" value="" id="delete_blog_user">
    </form>
</section>
{% endblock content %}

{% block script %}
<script src="{% static 'adminpanel/vendors/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'adminpanel/data-table/dataTables.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('.btn-delete').on('click', function (e) {
            e.preventDefault()
            let id = $(this).data('id')
            Swal.fire({
                title: 'Delete Blog User',
                text: 'Are You Sure ?',
                confirmButtonColor: 'rgb(225, 0, 127)',
                showCancelButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#delete_blog_user').val(id)
                    $('#delete_form').submit()
                }
            })
        })
    })
</script>
{% endblock script %} 