{% extends 'base.html' %}
{% block title %}Sloper Template{% endblock title %}
{% load static %}
{% block content %}
{% url 'sloper_template' as view_shop_products %}
{% include "includes/section.html" with page_title="Sloper Tool Templates" btn_url=view_shop_products btn_text="Back" %}
<main class="main content-wrapper container">
    <section class="section profile">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-3">
                        <ul class="nav nav-tabs nav-tabs-bordered text-center">
                        </ul>
                        <div class="tab-content pt-4">
                            <style>
                                #profile-overview .row:nth-child(odd) {
                                    background-color: rgba(201, 197, 197, 0.371);
                                }

                                .row-padding .row {
                                    padding: 10px 0px;
                                }
                            </style>
                            <div class="tab-pane fade show active profile-overview row-padding" id="profile-overview">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4"><strong>Name :</strong></div>
                                    <div class="col-lg-9 col-md-8"> {{ template_data.name }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4"><strong>Status :</strong></div>
                                    {% if template_data_data.status %}
                                    <div class="col-lg-9 col-md-8"> Active </div>
                                    {% else %}
                                    <div class="col-lg-9 col-md-8">Deactive</div>
                                    {% endif %}    
                                </div>                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if template_data.image %}
        <div class="col-xl-2">
            <div class="card">
                <div class="card-body profile-card d-flex flex-column ">
                    <h4>Picture</h4>
                    <div class="tab-content pt-4">
                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <div class="row">
                                <div class="col-6">
                                    <img src="{{ template_data.image.url }}" class="click-img" alt="primary image"
                                        width="170" height="170">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        </div>
    </section>
</main>
{% endblock content %}
{% block script %}
{% endblock script %}